<form class="container mt-5" method="POST" action="/product/handle-form-actions">
  <div class="title">
    <h2>Danh sách sản phẩm</h2>
    <div class="trash">
    <a href="/product/trash" class="btn btn-primary ml-auto mb-3">Thùng rác ({{countDeleted}})</a>
    </div>
    <div class="form-check d-flex align-items-center mb-3">
      <input type="checkbox" class="form-check-input" id="checkbox-select-all">
      <label class="form-check-label" for="checkbox-select-all">Chọn tất cả</label>
      <div class="input-group ml-3">
        <select class="custom-select" name="action" required>
          <option value="">Action</option>
          <option value="delete">Delete</option>
        </select>
        <div class="input-group-append">
          <button id="btn-submit-action" type="submit" class="btn btn-primary" disabled>Submit</button>
        </div>
      </div>
    </div>
  </div>
    <table class="table">
  <thead>
    <tr>
      <th scope="col" colspan="2">#</th>
      <th scope="col">Tên</th>
      <th scope="col">Giá</th>
      <th scope="col">Thời Gian Tạo</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
      {{#each product}}
            <tr>
              <td><input type="checkbox" class="form-check-input " name="productsId[]" value="{{this._id}}"></td>
              <th scope="row"> {{ sum @index 1}}</th>
              <td>{{this.name}}</td>
              <td>{{this.price}}</td>
              <td>{{formatDate this.createdAt}}</td>
              <td>
                  <a href="/product/edit/{{this._id}}" class="btn btn-primary">Sửa</a>
                  <!-- Button trigger modal Delete -->
                  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#deleteConfirm" data-id="{{this._id}}"> Xóa </button>
              </td>
            </tr>
            {{else}}
            <tr>
              <td colspan="5" class="text-center">
                Bạn chưa thêm sản phẩm nào !
                <a href="/product/create">Thêm sản phẩm</a>
              </td>
            </tr>
      {{/each}}
  </tbody>
</table>
</form>

<!-- Modal Comfirm Delete -->
<div class="modal fade" id="deleteConfirm" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Xoá Sản Phẩm</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Bạn chắc chắn muốn xóa sản phẩm này ?
      </div>
      <div class="modal-footer">
        <button type="button" id="btn-delete-product" class="btn btn-danger">Delete</button>
        <button type="button" class="btn btn-gray" data-dismiss="modal">Cancel</button>
      </div>
    </div>
  </div>
</div>

<!-- Fake Form Delete -->
<form id="formDelete" method="post"></form>

<script>
  //Content Loaded
  document.addEventListener("DOMContentLoaded",()=>{
    
    //Handle checkbox changed
    let checkBoxItems = $('input[name="productsId[]"]');
    let checkBoxAll = $('#checkbox-select-all');
    //Handle checked all changed
    checkBoxAll.change(function() {
        let isChecked = $(this).prop('checked');
        checkBoxItems.prop('checked',isChecked);
        renderExecBtn()
    });
    //Handle checkbox items changed
    checkBoxItems.change(function() {
        let isChecked = checkBoxItems.length === $('input[name="productsId[]"]:checked').length;
        checkBoxAll.prop('checked',isChecked);
        renderExecBtn()
    });
    //Handle Render Check submit
    function renderExecBtn(){
        let countChecked = checkBoxItems.filter(':checked').length;
        let btnSubmit = $('#btn-submit-action');
        if(countChecked > 0){
            btnSubmit.attr('disabled',false);
        }else{
            btnSubmit.attr('disabled',true);
        }
    }



    //Click button delete
    $('#deleteConfirm').on('show.bs.modal', function (event) {
    let button = $(event.relatedTarget);
    let id = button.data('id');
    let btnDeleteProduct = document.querySelector('#btn-delete-product');
    let deleteForm = document.forms['formDelete'];
    
    // Assert Delete 
    btnDeleteProduct.onclick = () =>{
       deleteForm.action = '/product/'+id+'?_method=DELETE';
       deleteForm.submit();
    };
    });
  });
</script>